@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.background{
    background-image: url(img/taylorswift.png); /* aqui vc muda a imagem */
    background-size: cover;
    background-position: center;
    height: 970px; /* não mexe aqui*/
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #e05048; /* muda a cor do cabeçalho */
}

.logo{
    color: #fff; /* muda a cor da Taylor */ 
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}
span{
    color: #ffded2 ; /* muda cor do Swift*/
}

nav ul li{  /*não mexe em nada aqui */
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}


.Main{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.Main span{
    color: #f8c1b0; /* muda cor do TUOR */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #fff; /* MUDA COR DO THE ERAS */
    margin: 20px 0px 20px;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: #fff; /* TEXTINHO DO OQ É*/
    letter-spacing: 2px;
    font-size: 15px;
}

h3{
    color: #ffd9ba; /* MUDA A COR DO O QUE É */
    font-size: 50px;
    margin-bottom: 40px;
}

